@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    border-collapse: collapse;
    list-style: none;
}		

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--fonte);
}

:root{
    --cor-branco: #fff;
    --cor-preto: black;
    --cor-principal: #1730D1;
    --cor-secundaria: #44087D;
    --cor-terciaria: #f19812;
    --linear-gradient-fundo: linear-gradient(90deg, rgba(61,61,61,1) 31%, rgba(15,5,5,1) 71%);
    --fonte: 'Montserrat', sans-serif;
}

.sucesso, .erro, .info{
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.sucesso{
    color: var(--cor-preto);
    background: #2ff15d;
}

.erro{
    color: var(--cor-branco);
    background: #e71717;
}

.info{
    color: var(--cor-preto);
    background: #0aa2e9;
}

/* Container - Início */

.container{
    width: 100%;
    /* background: var(--linear-gradient-fundo); */
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    background: url('../images/fundo_poker.jpg') center;
    background-size: cover;
}

.container>div{
    width: 50%;
    padding: 1.5rem;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--cor-branco);
}

.container>div a{
    color: var(--cor-branco) !important;
    transition: .3s;
    display: inline-block;
}

.container>div p{
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.7);
}

.container>div a:hover{
    transform: scale(1.05);
}

.liberacao_gradual{
    display: flex;
    width: 50%;
    padding: 2rem;
    border-radius: 1rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--cor-branco);
    min-width: 40rem;
}

.liberacao_gradual>div{
    min-width: 50rem;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.liberacao_gradual>div>small{
    color: var(--cor-branco);
}

.liberacao_gradual hr{
    width: 100%;
    background: var(--cor-branco);
    height: 0.3rem;
    border-radius: 1rem;
}

.liberacao_gradual p a{
    color: var(--cor-branco);
    transition: .3s;
    display: inline-block;
}

.liberacao_gradual p a:hover{
    transform: scale(1.05);
}

.loader{
    display: none;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.6rem solid var(--cor-terciaria);
    border-bottom: 0.6rem solid var(--cor-branco);
    animation: loader 1s linear infinite;
}

.ocultar{
    display: none !important;
}

span.desocultar{
    display: inline-block;
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.liberacao_gradual>div>div{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.liberacao_gradual input, .liberacao_gradual select{
    border: 0.2rem solid var(--cor-branco);
    background: transparent;
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: var(--cor-branco);
    width: 100%;
    font-family: var(--fonte);
    transition: .3s;
}

.liberacao_gradual option{
    color: var(--cor-preto);
    padding: 1rem;
}

.liberacao_gradual small{
    color: red;
}

.liberacao_gradual>div>input{
    margin: 0.5rem 0 0.5rem 0;
    cursor: pointer;
    font-family: var(--fonte);
    transition: .3s;
    border: none;
    color: var(--cor-preto);
    font-weight: bold;
    max-width: 15rem;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 10rem;
    background: var(--cor-terciaria);
}

.liberacao_gradual>div>a{
    color: var(--cor-branco);
    transition: .3s;
}

.liberacao_gradual>div>a:hover{
    text-decoration: underline;
    transform: scale(1.05);
}

.liberacao_gradual>div>input:hover{
    transform: scale(1.05);
}

.liberacao_gradual input:focus{
    transform: scale(1.01);
}

.liberacao_gradual input::placeholder{
    font-family: var(--fonte);
    color: var(--cor-branco);
}

.mensagem{
    display: flex;
    width: 50%;
    padding: 2rem;
    border-radius: 1rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--cor-branco);
    min-width: 40rem;
}

.mensagem>div{
    min-width: 50rem;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Container - Fim */

@media(max-width: 1024px){
    .liberacao_gradual>div, .mensagem>div{
        min-width: 0rem;
        width: 100%;
    }
}

@media(max-width: 725px){
    .liberacao_gradual, .container>div, .mensagem{
        width: 100%;
    }

    .liberacao_gradual, .mensagem{
        min-width: 0;
    }

    .container>div{
        height: 70vh;
    }

    .container{
        flex-flow: column nowrap;
    }

    .container{
        flex-flow: column nowrap;
        background: url('../images/fundo_poker_2.jpg') center;
        background-size: cover;
    }

    .container>div{
        background: url('../images/poker1.jpg') center;
        background-size: cover;
    }
}

